$text-color: white;
$font-family:Arial;
$header-background-color:#333;
$mozzaSecondary-color:darkgoldenrod;
$text-color-dark:black;

$list-background: white;
$button-background: white;

$reservas-textColor:lightgrey;

$footer-color:lightgrey;