.menu{
    ul{
        list-style-type: none;
        text-decoration: none;
        color: $text-color;
        @include flexContainer (row, space-around, center, wrap);
        
    }

} 


    

nav{ 
    a{
        color: $text-color;
        text-decoration: none;
        margin-right: 1rem;
    }

}

.b-underscore {

    &::after{
        content: "";
        width: 80%;
        height: 2px;
        background-color: $mozzaSecondary-color;
        display: block;
    }

}